@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
.upper-body{
background-image: url(./assets/shipimg.jpg);
}

.info-on-water{
  background-image: url(./assets/sea_bg.png);
  /* rgb(95, 213, 213) */
}
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
  appearance: textfield;
}
.signUp-btn{
  background-color: rgb(95, 213, 213);
}
.signUp-btn:disabled{
  cursor: default; 
  background-color: rgb(82, 128, 128);
}